[Unit]
Description=Labgrid Coordinator
After=network.target

[Service]
User=labgrid-dev
Group=labgrid-dev
Environment="PYTHONUNBUFFERED=1"
ExecStart=labgrid-coordinator
Restart=on-failure
WorkingDirectory=/etc/labgrid/

[Install]
WantedBy=multi-user.target
