{% for device in labnet["labs"][inventory_hostname]["devices"] %}
{{ inventory_hostname }}-{{ device }}:
  acquired: null
  acquired_resources: []
  aliases: []
  allowed: []
  changed: {{ ansible_date_time.epoch }}
  comment: ''
  created: {{ ansible_date_time.epoch }}
  matches:
  - cls: '*'
    exporter: '*'
    group: {{ inventory_hostname }}-{{ device }}
    name: null
    rename: null
  tags:
    device: {{ device }}
{% endfor %}
