[Unit]
Description=Labgrid Exporter
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
User=labgrid-dev
Group=labgrid-dev
Environment="PYTHONUNBUFFERED=1"
ExecStart=labgrid-exporter --hostname "{{ inventory_hostname }}" /etc/labgrid/exporter.yaml
Restart=always
RestartSec=30
DynamicUser=yes
SupplementaryGroups=dialout plugdev

[Install]
WantedBy=multi-user.target
