[Unit]
Description=Control and Queueing daemon for PDUs

[Service]
ExecStart=/usr/local/bin/pdudaemon --journal --conf=/etc/pdudaemon/pdudaemon.conf
Type=simple
DynamicUser=yes
StateDirectory=pdudaemon
ProtectHome=true
Restart=on-abnormal
SupplementaryGroups=i2c

[Install]
WantedBy=multi-user.target
