[defaults]
inventory = inventory.yaml
timeout = 60

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o ServerAliveInterval=30 -o ServerAliveCountMax=6 -o PreferredAuthentications=publickey,password
retries = 5
